{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hromada Krym</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <link rel="icon" type="image/x-icon" href="{% static 'images/logo.svg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-item">
            <img id="logo-img" src="{% static 'images/logo.svg' %}" alt="logo">
        </div>
        <button id="menu-button" class="header-item">
            <img id="menu-button-img" src="{% static 'images/menu.png' %}" alt="menu">
        </button>
    </header>
    <menu>
        {% block menu %} 
            <!-- <div id="lang-box">
                <label for="language-picker-select"></label>
                <select name="language-picker-select" id="language-picker-select">
                    <option lang="uk" value="uk">{% trans 'Українська' %}</option>
                    <option lang="crh" value="crh">{% trans 'Кримськотатарська' %}</option>
                    <option lang="ru" value="ru">{% trans 'Російська' %}</option>
                    <option lang="en" value="en">{% trans 'Англійська' %}</option>
                </select>
            </div> -->
            <a class="menu-item">{% trans 'дім' %}</a> <br>
            <a class="menu-item">{% trans 'вікі' %}</a> <br>
            <a class="menu-item">{% trans 'пошук' %}</a> <br>
            <a class="menu-item">{% trans 'самоврядування' %}</a>
        {% endblock %}
    </menu>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>
